<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Hello World!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h1>Hello World!</h1>
				<p>This is a static page example. It displays if the route name matches the template name, and no other route with this name is defined. Convenient!</p>
			</div>
		</div>
	</div>

</body>
</html>
