{%	set title = beantype %}

{% extends "admin/base.html" %}

{% block content %}

	<div class="page-header">
		<h1>{{ beantype }}</h1>
	</div>
	
	<ol class="breadcrumb">
		<li><a href="{{ path_for('admin') }}">home</a></li>
		<li class="active">{{ beantype }}</li>
	</ol>

	<a href="{{ path_for('addbean', { 'beantype': beantype }) }}" class="btn btn-primary pull-right">Add new {{ beantype }}</a>
	
	<p>{{ description }}<br /><br /></p>

{% if beans|length > 0 %}
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Remove</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
{% 	for bean in beans %}
				<tr>
					<td><a href="{{ path_for('getbean', { 'beantype': beantype, 'id': bean.id }) }}">{{ bean.title }}</a></td>
					<td>
						<form method="post" role="form" enctype="multipart/form-data" action="{{ path_for('deletebean', { 'beantype': beantype, 'id': bean.id }) }}">
							<input type="hidden" name="_METHOD" value="delete"/>
							<button type="submit" class="btn btn-default delete" data-title="{{ bean.title }}">Delete</button>
						</form>
					</td>
					<td><a href="{{ path_for('getbean', { 'beantype': beantype, 'id': bean.id }) }}" class="btn btn-default">Edit</a></td>
				</tr>
{% 	endfor %}
			</tbody>
		</table>
	</div>
{% else %}
	<hr>
	<p class="text-muted text-center">There is no {{ beantype }} yet. You can <a href="{{ path_for('addbean', { 'beantype': beantype }) }}">add</a> one.</p>
{% endif %}

{% endblock content %}

{% block javascript %}
	{{ parent() }}

	<script type="text/javascript">
		$( '.delete' ).on( 'click', function(e) {
			e.preventDefault();
			if( confirm( 'Are you sure you want to delete "' + $(this).data('title') + '"?' ) ) {
				$(this).parent().submit();
			}
		});
	</script>
{% endblock javascript %}