<div class="form-group">
	<label for="{{ property.name }}" class="col-sm-2 control-label">{{ property.description }}</label>
	<div class="col-sm-10">
		<select class="form-control select2" id="{{ property.name }}" name="{{ property.name }}">
{# property.value contains an array with all optional relation objects #}
{% for option in property.options %}
			<option value="{{ option.id }}"{% if bean[property.name ~ '_id'] == option.id %} selected="selected"{% endif %}>{{ option.title }}</option>
{% endfor %}
		</select>
	</div>
</div> 